{{protocol}}
{{#insecure_override}}
<div class="well hidden">
  <h4>Warning</h4>
  <p>
    OAuth requires HTTPS, and this page is loaded via insecure HTTP. If you try to connect to Nylas like this, it will
    fail. To fix this problem, serve this website over HTTPS.
  </p>
  <p>
    Since this is just an example, you can disable this requirement by setting the
    <code>OAUTHLIB_INSECURE_TRANSPORT</code> environment variable to <code>1</code> before running this example again.
    However, you will <em>not</em> be able to do this when running in production.
  </p>
</div>
{{/insecure_override}}

<p>Thanks for giving Nylas a try! This demo app implements Nylas authentication and allows you to create and
  manage scheduling pages. To get started, click this button to connect to Nylas and login to your account.</p>
<a href="{{ login_href }}" class="btn btn-primary">Log In</a>

<script type="text/javascript">
  if (location.protocol === 'http:') {
    var el = document.querySelector('.well.hidden');
    el.className = 'well';
  }
</script>